<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="basic"
		label="COM_PRION_CONFIG_BASIC"
		description="COM_PRION_CONFIG_BASIC_DESC"
		>
		<!-- The basic configuration fields would be here -->
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_prion"
			section="component"
		/>
	</fieldset>
</config>
