.DS_Store
/engine.js
/engine.js.map
__MACOSX
.phpunit.result.cache
/dist.zip
/.idea
/bin
/api
/cache
/cli
/tmp
/templates
/libraries
/layouts
/includes
/images
/node_modules
/build
LICENSE.txt
README.txt
configuration.php
htaccess.txt
index.php
robots.txt
web.config.txt
yarn.lock
.idea/
/plugins/
/sppb-icons/ 
/modules/
/media/
!/media/com_prion

!/language
/language/*

!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.com_prion.ini
!/language/en-GB/com_prion.ini

!/components
/components/*
!/components/com_prion
/components/com_prion/assets/builder/node_modules
/components/com_prion/vendor

!/administrator
/administrator/*

!/administrator/components
/administrator/components/*
!/administrator/components/com_prion

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_prion.ini
!/administrator/language/en-GB/com_prion.ini
!/administrator/language/en-GB/en-GB.com_prion.sys.ini
!/administrator/language/en-GB/com_prion.sys.ini

!/administrator/modules
/administrator/modules/*
components/com_prion/assets/js/engine.js.map
components/com_prion/assets/js/engine.js
components/com_prion/assets/css/edit.css.map
components/com_prion/assets/css/edit.css
components/com_prion/assets/builder/yarn-error.log
robots.txt.dist
.idea/misc.xml
.idea/modules.xml
.idea/pb3.iml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
nbproject/
*.zip
logs/